

{% extends 'map/base.html' %}

{% load i18n %}

{% block filename %}
  /home/kelvin/PycharmProjects/matienv/proyects/mati/map/templates/map/course/course_archive_week.html
{% endblock %}

{% block title %}
  {% trans "Course Week Archive" %}
{% endblock %}

{% block header-link %}
  {% trans "Course Week Archive" %}
{% endblock %}

{% block header-description %}
  {% trans "A weekly archive page showing all objects in a given week." %}
{% endblock %}

{% block sidebar_one %}
    <li>
        <a href={% url 'map_course_create' %}>
            {% trans "Crear curso" %}
        </a>
    </li>

{% endblock %}

{% block sidebar_two %}

    <li>
        <a href={% url "map_course_archive_index" %}>
            {% trans "Indice de cursos" %}
        </a>
    </li>

{% endblock %}

{% block content %}
  <h2>
    {% blocktrans %}
      Courses created during the week beginning on {{ week }}
    {% endblocktrans %}
  </h2>
  {% include 'map/course/object_table_list.html' %}
  {% include 'map/course/pagination.html' %}
{% endblock %}
