

{% extends 'map/base.html' %}

{% load i18n %}

{% block filename %}
  /home/kelvin/PycharmProjects/matienv/proyects/mati/map/templates/map/subject/subject_confirm_delete.html
{% endblock %}

{% block title %}
  {% trans "Subject Confirm Delete" %}
{% endblock %}

{% block header-link %}
  <a href='{% url map_subject_delete pk=object.pk %}'>
    {% trans "Subject Confirm Delete" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "A view that displays a confirmation page (on GET) and deletes an existing object (on POST)." %}
{% endblock %}

{% block content %}
  <h2>
    {% trans "Delete this Subject?" %}
  </h2>
  <br />
  {% include 'map/subject/object_table_detail.html' %}
  <form action='' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <button class='btn btn-danger' type='submit'>
          {% trans "Delete" %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
