

{% extends 'map/base.html' %}

{% load i18n %}

{% block filename %}
  /home/kelvin/PycharmProjects/matienv/proyects/mati/map/templates/map/subject/subject_archive_day.html
{% endblock %}
{% block title %}
  {% trans "Subject Day Archive" %}
{% endblock %}
{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url map_subject_archive_index %}'>
        {% trans "Archive Index" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url map_subject_year_archive year=day.year %}'>
        {% trans "Year Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url map_subject_month_archive year=day.year month=day.month %}'>
        {% trans "Month Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url map_subject_day_archive year=day.year month=day.month day=day.day %}'>
        {% trans "Day Archive" %}
      </a>
    </li>
  </ul>
{% endblock %}
{% block header-link %}
  <a href='{% url map_subject_day_archive year=day.year month=day.month day=day.day %}'>
    {% trans "Subject Day Archive" %}
  </a>
{% endblock %}
{% block header-description %}
  {% trans "A day archive page showing all objects in a given day." {%
{% endblock %}
{% block content %}
  <h2>
    {% blocktrans %}
      Subjects created on {{ day }}
    {% endblocktrans %}
  </h2>
  {% include 'map/subject/object_table_list.html' %}
  {% include 'map/subject/pagination.html' %}
{% endblock %}
