

{% extends 'map/base.html' %}

{% load i18n %}

{% block filename %}
  /home/kelvin/PycharmProjects/matienv/proyects/mati/map/templates/map/student/student_archive.html
{% endblock %}
{% block title %}
  {% trans "Student Archive Index" %}
{% endblock %}
{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href={% url 'map_student_archive_index' %}>
        {% trans "Archive Index" %}
      </a>
    </li>
  </ul>
{% endblock %}
{% block header-link %}
  <a href={% url 'map_student_archive_index' %}>
    {% trans "Student Archive Index" %}
  </a>
{% endblock %}
{% block header-description %}
  {% trans "A top-level index page showing the latest objects, by date." %}
{% endblock %}

{% block sidebar_one %}
    <li>
        <a href={% url 'map_student_create' %}>
            {% trans "Crear estudiante" %}
        </a>
    </li>

{% endblock %}

{% block sidebar_two %}

    <li>
        <a href={% url "map_student_archive_index" %}>
            {% trans "Indice de estudaintes" %}
        </a>
    </li>

{% endblock %}

{% block content %}
  <h2>
    By Year
  </h2>
  <ul class='nav nav-tabs nav-stacked'>
    {% for date in date_list %}
      <li>
        <a href={% url 'map_student_year_archive' year=date.year %}>
          {{ date.year }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <h2>
    {% trans "Recent Students" %}
  </h2>
  {% include 'map/student/object_table_list.html' %}
  {% include 'map/student/pagination.html' %}
{% endblock %}
