

{% extends 'map/base.html' %}

{% load i18n %}

{% block filename %}
  /home/kelvin/PycharmProjects/matienv/proyects/mati/map/templates/map/teacher/teacher_archive.html
{% endblock %}
{% block title %}
  {% trans "Teacher Archive Index" %}
{% endblock %}
{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href={% url 'map_teacher_archive_index' %}>
        {% trans "Archive Index" %}
      </a>
    </li>
  </ul>
{% endblock %}
{% block header-link %}
  <a href={% url 'map_teacher_archive_index'%}>
    {% trans "Teacher Archive Index" %}
  </a>
{% endblock %}
{% block header-description %}
  {% trans "A top-level index page showing the latest objects, by date." %}
{% endblock %}

{% block sidebar_one %}
    <li>
        <a href={% url 'map_teacher_create' %}>
            {% trans "Crear profesor" %}
        </a>
    </li>

{% endblock %}

{% block sidebar_two %}

    <li>
        <a href={% url "map_teacher_archive_index" %}>
            {% trans "Indice de profesores" %}
        </a>
    </li>

{% endblock %}

{% block content %}
  <h2>
    By Year
  </h2>
  <ul class='nav nav-tabs nav-stacked'>
    {% for date in date_list %}
      <li>
        <a href={% url 'map_teacher_year_archive' year=date.year %}>
          {{ date.year }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <h2>
    {% trans "Recent Teachers" %}
  </h2>
  {% include 'map/teacher/object_table_list.html' %}
  {% include 'map/teacher/pagination.html' %}
{% endblock %}
