

{% extends 'map/base.html' %}
{% load bootstrap %}
{% load i18n %}

{% block filename %}
  /home/kelvin/PycharmProjects/matienv/proyects/mati/map/templates/map/teacher/teacher_form.html
{% endblock %}

{% block title %}
  {% if object %}
    {% trans "Update Teacher" %}
  {% else %}
    {% trans "Create a New Teacher" %}
  {% endif %}
{% endblock %}

{% block header-link %}
  {% if object %}
    <a href={% url 'map_teacher_update' pk=object.pk %}>
      {% trans "Teacher Update" %}
    </a>
  {% else %}
    <a href={% url 'map_teacher_create' %}>
      {% trans "Teacher Create" %}
    </a>
  {% endif %}
{% endblock %}

{% block header-description %}
  {% if object %}
    {% trans "A view that displays a form for editing an existing object." %}
  {% else %}
    {% trans "A view that displays a form for creating an object." %}
  {% endif %}
{% endblock %}

{% block sidebar_one %}

    <li>
        <a href={% url 'map_teacher_list' %}>
            {% trans "Listar profesores" %}
        </a>
    </li>
    <li>
        <a href={% url 'map_teacher_create' %}>
            {% trans "Crear profesores" %}
        </a>
    </li>

{% endblock %}

{% block sidebar_two %}

    <li>
        <a href={% url 'map_teacher_archive_index' %}>
            {% trans "Indice de profesores" %}
        </a>
    </li>

{% endblock %}

{% block content %}
  <form action={% if object %}{% url 'map_teacher_update' pk=object.pk %}{% else %}{% url 'map_teacher_create' %}{% endif %} method='post' encoding='utf-8'>
    <fieldset>
      {% csrf_token %}
      {{ form | bootstrap }}
      <div class='form-actions'>
        <button class='btn btn-large btn-success' type='submit'>
          {% if object %}
            {% trans "Update" %}
          {% else %}
            {% trans "Create" %}
          {% endif %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
